# GCP Configuration
# GCP_CONFIG: Name of gcloud configuration (see: gcloud config configurations list)
# GCP_PROJECT: GCP project ID (see: gcloud projects list)
GCP_CONFIG=insilicostrategy
GCP_PROJECT=insilicostrategy-kit-registry
